<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
	<Properties>
		<Property name="patternfull">
			%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{4} - %msg%n
		</Property>
		<Property name="patternshort">
			%d{HH:mm:ss.SSS} [%t] %-5level %logger{1} - %msg%n
		</Property>
	</Properties>
	<Appenders>
		<File name="TxtFile" fileName="logs/text.log" bufferedIO="true">
			<PatternLayout pattern="${patternfull}" />
		</File>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="${patternshort}" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="INFO">
			<AppenderRef ref="Console"/>
		</Root>
		<Logger name="by.training.service.Task3" level="error"
				additivity="true">
			<AppenderRef ref="TxtFile" />
		</Logger>
		<Logger name="by.training.service.Task11" level="error"
				additivity="true">
			<AppenderRef ref="TxtFile" />
		</Logger>
		<Logger name="by.training.service.Task19" level="error"
				additivity="true">
			<AppenderRef ref="TxtFile" />
		</Logger>
		<Logger name="by.training.service.Task27" level="error"
				additivity="true">
			<AppenderRef ref="TxtFile" />
		</Logger>
		<Logger name="by.training.service.Task35" level="error"
				additivity="true">
			<AppenderRef ref="TxtFile" />
		</Logger>
	</Loggers>
</Configuration>
